# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# MLflow
mlruns/

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env

# System Files
.DS_Store
Thumbs.db